<!DOCTYPE html>
<html ng-app='try'>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <script src="./js/angular.min.js"></script>
    <script src="./js/app/angular.module.js"></script>
    <script src="./js/pp/angular.config.js"></script>
    <style>
        .new-class{
            font-size: 72px;
        }
        .other-class{
            font-size:32px;
        }
        .new-class2{
            font-size: 120px;
        }
    </style>
</head>
<body>
    <h1 class='new-class' ng-class="{'other-class':name, 'new-class2':font==120}">
        Hello 
        <span ng-if='name'> {{name}}</span>
        <span ng-if='!name'>World!</span></h1>
    <input type="text" ng-model='name'>
    <input type="text" ng-model="font">
</body> 
</html>